#card {
  background-image: url(card-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80vw;
  max-height: max-content;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-picture,
#main-operator {
  width: 250px;
  height: auto;
}

#r6-logo {
  max-height: 50px;
  width: auto;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#attackers,
#defenders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#operator-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 1.6em;
}

.operator-icon {
  width: 80px;
  height: auto;
}

.platform img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

#platform-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-operator {
  max-width: 300px;
  max-height: 500px;
  width: 300px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-operator img {
  max-width: 100%;
  max-height: 100%;
}
