@font-face {
  font-family: 'R6S-Bold';
  src: url('fonts/ScoutCond-Bold.woff2') format('woff2'),
    url('fonts/ScoutCond-Bold.woff') format('woff'),
    url('fonts/ScoutCond-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'R6S-Italic';
  src: url('fonts/ScoutCond-RegularItalic.woff2') format('woff2'),
    url('fonts/ScoutCond-RegularItalic.woff') format('woff'),
    url('fonts/ScoutCond-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
