@import 'variables.scss';
@import 'fonts.scss';
:root {
  font-size: 16px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

.v-application {
  color: $blanc !important;
  font-family: 'R6S-Bold', sans-serif;
  padding: 0px 0px 125px 0px;
  font-size: 18px;
}

.theme--dark.v-application {
  background-color: rgba(1, 1, 1, 0.5) !important;
}

#background-image {
  background-image: url(R6-newUI.webp);
  background-color: $noir;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

a {
  color: #f5f909 !important;
  font-weight: bold !important;
}

#titre {
  text-shadow: 1px 2px #000;
  text-transform: uppercase;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100vw;
  text-shadow: 1px 2px #000000;
}

#footer span {
  max-width: max-content;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#credit {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 15px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  #footer {
    flex-direction: column;
  }
  #footer {
    align-items: center;
    padding: 0px 0px 50px 0px;
  }
  #credit {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 15px;
  }
}
