$jaune: #f5f909;
$blanc: #ffffff;
$noir: #000000;
$noir-transparent: rgba(1, 1, 1, 0.95);
$bleu-ciel: #36a9e0;
$card-background: #0d0d0d;
$defender: rgba(14, 135, 200, 0.15);
$attacker: rgba(217, 97, 15, 0.15);
$recruit: rgba(246, 65, 74, 0.15);

$attackerBox: #d9610f;
$defenderBox: #0e87c8;
$recruitBox: #f6434b;
