<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <div id="card">
        <img
          id="r6-logo"
          src="r6-logo-white.webp"
          alt="Rainbow Six Siege logo"
        />

        <div id="card-container">
          <div class="card-section" id="introduction">
            <img
              id="profile-picture"
              :src="profile.profilePicture"
              alt="Profile picture"
            />
            <span id="username">{{ profile.username }}</span>

            <div id="platform-list">
              <span class="platform" v-if="profile.platform.game">
                <img :src="platformPicture" :alt="platformPicture"
              /></span>

              <span class="platform" v-if="profile.platform.twitter">
                <img src="twitter.webp" alt="Twitter logo" />
                {{ profile.platform.twitter }}
              </span>

              <span class="platform" v-if="profile.platform.discord">
                <img src="discord.webp" alt="Discord logo" />
                {{ profile.platform.discord }}
              </span>

              <span class="platform" v-if="profile.platform.instagram">
                <img src="instagram.webp" alt="Instagram logo" />
                {{ profile.platform.instagram }}
              </span>

              <span class="platform" v-if="profile.platform.youtube">
                <img src="youtube.webp" alt="YouTube logo" />
                {{ profile.platform.youtube }}
              </span>
            </div>
          </div>

          <div class="card-section" id="operators">
            <div id="attackers">
              <span class="section-title">Attackers</span>
              <span class="operator-list">
                <img
                  v-for="operator in profile.mainAttackers"
                  :key="operator"
                  class="operator-icon"
                  :src="getOperatorPicture(operator, 'Icon')"
                  :alt="getAlt('Attacker', profile.operator)"
                />
              </span>
            </div>

            <div id="defenders">
              <span class="section-title">Defenders</span>
              <span class="operator-list">
                <img
                  v-for="operator in profile.mainDefenders"
                  :key="operator"
                  class="operator-icon"
                  :src="getOperatorPicture(operator, 'Icon')"
                  :alt="getAlt('Defender', profile.operator)"
                />
              </span>
            </div>

            <div id="stats">
              <span id="ratio">KD Ratio: {{ profile.ratio }} </span>
              <img
                id="rank"
                :src="profile.rank"
                :alt="getAlt('Rank', profile.rank)"
              />
            </div>
          </div>

          <div id="main-operator">
            <img
              :src="getOperatorPicture(profile.mainOperator, 'Card')"
              :alt="getAlt('Main operator', profile.mainOperator)"
            />
          </div>
        </div>

        <span id="link">https://tiny.cc/r6-card</span>
      </div>

      <div id="form-container">
        <div id="search-form">
          <v-container>
            <v-col>
              <v-text-field
                v-model="profile.username"
                label="Username"
                required
              />

              <v-select
                :items="['Playstation', 'Xbox', 'PC']"
                label="Platform"
                dense
                v-model="profile.platform.game"
              />

              <v-btn @click="search">Search</v-btn>
            </v-col>
          </v-container>
        </div>
        <div id="form">
          <v-form>
            <v-container>
              <v-row>
                <v-col>
                  <v-file-input
                    v-model="profile.profilePicture"
                    accept="image/*"
                    placeholder="Avatar"
                    prepend-icon="mdi-camera"
                    label="Avatar"
                    @change="onFileChange"
                  />
                  <v-text-field
                    v-model="profile.platform.twitter"
                    label="Twitter"
                  />
                  <v-text-field
                    v-model="profile.platform.discord"
                    label="Discord"
                  />
                  <v-text-field
                    v-model="profile.platform.instagram"
                    label="Instagram"
                  />
                  <v-text-field
                    v-model="profile.platform.youtube"
                    label="YouTube"
                  />
                </v-col>
                <v-divider vertical />
                <v-col>
                  <v-select
                    v-model="profile.mainAttackers"
                    :items="attackers"
                    label="Attackers"
                    multiple
                    chips
                    clearable
                  />
                  <v-select
                    v-model="profile.mainDefenders"
                    :items="defenders"
                    label="Defenders"
                    multiple
                    chips
                    clearable
                  />
                  <v-select
                    v-model="profile.mainOperator"
                    :items="[
                      ...this.profile.mainAttackers,
                      ...this.profile.mainDefenders,
                    ]"
                    label="Main operator"
                    clearable
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { Side, Operator } from 'assets/scripts/operator';
import R6API, { typings } from 'r6api.js';

export default Vue.extend({
  mounted() {
    this.fetchOperators();
  },

  data: () => {
    return {
      profile: {
        name: '',
        username: '',
        profilePicture: 'pp.png' as string | null | ArrayBuffer,
        platform: {
          game: '',
          discord: '',
          instagram: '',
          twitter: '',
          youtube: '',
        },
        mainOperator: '',
        mainAttackers: [] as string[],
        mainDefenders: [] as string[],
        ratio: 0,
        rank: 'unranked',
      },

      platformPicture: '',
      operators: [] as Operator[],
      attackers: [] as string[],
      defenders: [] as string[],
      mainOperators: [] as string[],

      loading: false,
    };
  },

  methods: {
    clearString: (str: string): string => {
      return str
        .normalize('NFD')
        .replace(/[\u0300-\u036f]/g, '')
        .replace('ø', 'o')
        .toLowerCase();
    },

    getOperatorPicture(operatorName: string, pictureType: string) {
      if (!operatorName) {
        return '';
      }

      let folder: string = '';

      switch (pictureType) {
        case 'Card':
          folder = 'operatorCards';
          break;

        case 'Icon':
          folder = 'operatorIcons';
          break;

        default:
          console.error(`Unknown picture type: ${pictureType}`);
          break;
      }

      return `${folder}/${this.clearString(operatorName)}.webp`;
    },

    getAlt: (text: string, option: string): string => {
      return option ? `${text}: ${option}` : '';
    },

    fetchOperators: async function () {
      this.loading = true;

      try {
        await fetch('r6-operators.json')
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            for (const item of data) {
              const op: Operator = new Operator(
                item.Name,
                item.Side,
                item.hasElite,
                0
              );

              this.operators.push(op);

              if (op.isAttacker()) {
                this.attackers.push(op.name);
              }
              if (op.isDefender()) {
                this.defenders.push(op.name);
              }
            }
          });
      } catch (err: any) {
        alert(err.message);
      } finally {
        this.loading = false;
      }
    },

    checkSide(operatorName: string): Side {
      const name = this.clearString(operatorName);

      for (const attName of this.attackers) {
        if (name.startsWith(this.clearString(attName))) {
          return Side.Attacker;
        }
      }

      return Side.Defender;
    },

    createImage(element: any) {
      if (typeof element === 'string') {
        this.profile.profilePicture = element;
        return;
      }

      const reader = new FileReader();

      reader.onload = (e) => {
        if (e && e.target) {
          this.profile.profilePicture = e.target.result;
        }
      };

      if (element instanceof Blob) {
        reader.readAsDataURL(element);
      }
    },
    onFileChange(element: any) {
      if (element) {
        this.createImage(element);
      }
    },

    getPlatform(): typings.Platform {
      let p: typings.Platform;

      switch (this.profile.platform.game) {
        case 'Playstation':
          p = 'psn';
          break;

        case 'Xbox':
          p = 'xbl';
          break;

        default:
          p = 'uplay';
          break;
      }

      return p;
    },

    search: async function () {
      const email: string = process.env.UBI_EMAIL!;
      const password: string = process.env.UBI_PASSWORD!;
      const platform: typings.Platform = this.getPlatform();

      const r6api = new R6API({ email, password });

      const { 0: player } = await r6api.findByUsername(
        platform,
        this.profile.username
      );

      if (!player) {
        alert(`'${this.profile.username}' not found`);
        return;
      }

      this.profile.profilePicture = player.avatar['256'];

      const { 0: stats } = await r6api.getStats(platform, player.id);

      if (!stats) {
        alert(`'${this.profile.username}': stats not found`);
        return;
      }

      console.log(stats);

      const operators: Operator[] = [];

      for (const key of Object.entries(stats.pve.operators)) {
        const op = key[1];
        operators.push(
          new Operator(op.name, Side.Attacker, false, op.playtime)
        );
      }

      operators.sort((a, b) => a.comparePlaytime(b));
      console.log(operators.slice(0, 5));
    },
  },

  watch: {
    'profile.platform.game': function (newVal, oldVal) {
      this.platformPicture = `${newVal.toLowerCase()}.webp`;
    },
  },
});
</script>

<style lang="scss">
@import url('assets/css/style.css');
@import url('assets/css/card.css');
@import url('assets/css/form.css');
</style>
